body {
  margin: 40px;
  background-color:rgb(242, 241, 241);
  
}

nav{
    text-align: right;
    
}

.projectLink{
  font-family: monospace;
  font-size: large;
}
 
 a:link {
    color: rgb(251, 246, 246);
    padding: 20px;
    text-decoration: none;
  }
  .projectLink a:link{
    color: rgba(23, 18, 99, 0.886);
    text-decoration: none;
  
  }

  .projectLink a:visited{
    color: rgb(129, 136, 186);
    text-decoration: none;
  }
  .projectLink a:hover{
    color:rgb(226, 226, 226);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(251, 246, 246);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(188, 186, 186);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(111, 111, 112);
    background-color: transparent;
    text-decoration: none;
  }

  .wrapper{
    display: grid;
    grid-template-rows: 5% 85% 10%;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    row-gap: 60px;
  }

  #iframe{
   margin: auto;
   width: 500px;
 
 }
  
 img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height:300px;
  border-radius: 20px;
 }
  
  /*.box {
    background-color: #0000ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }*/

  #bio {
    color: rgb(5, 5, 5);
    font-family: monospace;
    font-size:larger;
    line-height: 31px;
    padding: 20px;
  }

  /*.header{
    background-image: url('./computer.jpg');
    background-repeat: no-repeat;
    background-size:initial;
    background-position: center;
  }*/
  
  #projects {
    display: block;
    text-align: left;
    font-size: large;
    padding: 20px;
  }

.desk{
  width: 1000px;
  height: 500px;
}

#contact {
  display: inline-grid;
  grid-template-areas:
  'gitLink git'
  'lkLink linkedin';
  row-gap: 20px;
}

.git, .linkedin{
  width: 40px;
  height: 40px;
  
  border-radius: 50px;
  margin-left: 90%;
  margin-top: -12.5%;
}

#contact li a{
  color: darkblue;
}

.projectTitle{
  font-weight: 100;
  
  color: darkslateblue;
}

#projects{
  font-family: monospace;
  line-height: 28px;
}

#home-tab2, #profile-tab2, #contact-tab2{
  color: rgb(192, 192, 192);
  font-family: monospace;
}

#home-tab2:hover, #profile-tab2:hover, #contact-tab2:hover{
  font-family: monospace;
  color: rgb(221, 221, 222); 
}

#home-tab2-selected,  #profile-tab2-selected, #contact-tab2-selected{
  color: rgb(16, 13, 63);
  font-family: monospace;
}
